header {
  background: purple;
  height: 70px;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 90px;
}
a {
  display: block;
  background: cyan;
  height: 30px;
  width: 100px;
  margin: 10px;
}
.big {
  width: 150px;
}
div {
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  margin: 100px 100px 10px;
}
main {
  background: yellow;
  flex-grow: 3;
}
side {
  background: lime;
  flex-grow: 1;
}
footer {
  background: lightgrey;
   margin: 0 100px;
  height: 80px;
}