ul {
    background: gray;
    width: 600px;
    height: 80px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  li {
    width: 100px;
      height: 60px;
    margin-left: 15px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
   .item1 {
    border-radius: 40px;
    background: yellow;
    cursor:pointer;
   }
   .item2 {
    border-radius: 40px;
    background: yellow;
    cursor:pointer;
   }
   .item3{
    border-radius: 40px;
    background: yellow;
    cursor:pointer;
   }
   .item4{
    border-radius: 50px;
    background: yellow;
    cursor:pointer;
   }
   .item5{
    background: yellow;
    border-radius: 40px;
    width: 130px;
    height: 70px;
    border: solid red;
    cursor:pointer;
}
   .item6 {
    background: yellow;
       margin-right: 0px;
       border-right: solid thin black;
       cursor:pointer;
   }
   .item7 {
    background: yellow;
       margin-left: 0px;
       border-left: solid thin black;
       cursor:pointer;
   }
   .item8{
    background: yellow;
    cursor:pointer;
   }
   .item9 {
    background: yellow;
       margin-left: 0px;
       border-left: solid thin black;
       cursor:pointer;
   }
   .item10 {
    background: yellow;
       margin-right: 0px;
       border-right: solid thin black;
       cursor:pointer;
   }
   .item15 {
    background: yellow;
       margin-right: 0px;
       border-right: solid thin black;
       cursor:pointer;
   }
   .item14 {
    background: yellow;
       margin-left: 0px;
       margin-right: 0px;
       border-left: solid thin black;
       border-right: solid thin black;
       cursor:pointer;
   }
   .item13{
    background: yellow;
       margin-left: 0px;
       border-left: solid thin black;
       cursor:pointer;
   }
   .item12{
    background: yellow;
       margin-right: 0px;
       border-right: solid thin black;
       cursor:pointer;
   }
   .item11{
    background: yellow;
       margin-left: 0px;
       border-left: solid thin black;
       cursor:pointer;
   }
   .item16{
    background: yellow;
    cursor:pointer;
   }
   .item1:hover{
     transform:scale(1.4);
   }
   .item2:hover{
    transform:scale(1.4);
  }
  .item3:hover{
    transform:scale(1.4);
  }
  .item4:hover{
    transform:scale(1.4);
  }
  .item5:hover{
    transform:scale(1.4);
  }
  .item6:hover{
    transform:scale(1.4);
  }
  .item7:hover{
    transform:scale(1.4);
  }
  .item8:hover{
    transform:scale(1.4);
  }
  .item9:hover{
    transform:scale(1.4);
  }
  .item10:hover{
    transform:scale(1.4);
  }
  .item11:hover{
    transform:scale(1.4);
  }
  .item12:hover{
    transform:scale(1.4);
  }
  .item13:hover{
    transform:scale(1.4);
  }
  .item14:hover{
    transform:scale(1.4);
  }
  .item15:hover{
    transform:scale(1.4);
  }
  .item16:hover{
    transform:scale(1.4);
  }
   main {
      background:#00FFFF ;
      color: black;
      width: 600px;
      margin-top: 0px;
      padding-top:0px;
  }
  h1{
    margin-left: 40%;
  }
h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-left: 30%;
  margin-right: auto;
  font-size: 30px; 
  padding-top: 15px;
}
button{
  color: white;
  background-color: #8B008B;
  border-left: none;
  margin-left: -4px;
  border-color: grey;
  height: 54px;
  font-size: 17px;
  cursor: pointer;
}
button:hover{
  transform: scale(1.1);
}
input {
  margin-left: 25%;
  background-color: white;
  color: black;
  border-color: grey;
  border-right: none;
  height: 30px;
  padding: 10px;
  font-size: 17px;
}
#push {
  height:20px;
  border: none;
  margin-left: 10px;
  background-color:black;
}
.list{
  margin-right: 20px;
  display: flex;
  font-size: 35px;
  margin-left: 40%;
}
div {
  position: absolute;
  top: 10%;
  left: 50%
}
#popey {
  background: red;
  font-size: 35px;
  margin-bottom: 0px;
}
#fancy {
  background: blue;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#popeyFancy{
  background: green;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#emty{
  background: yellow;
  font-size: 35px;
  margin-top:0px;
}
#listBox{
  display:block;
  background: orange;
  height: 600px;
  width: 600px;
}