body {
    background:#00FFFF ;
    color: #A9A9A9;
    width:600px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
    
}
main {
    background: #F0FFFF;
    height: 600px;
    text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-left: auto;
  margin-right: auto;
  font-size: 30px;

    
}
li {
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    list-style: none;
    font-size: 18px;

}
button{
    color: white;
    background-color: #8B008B;
    border-left: none;
    margin-left: -4px;
    border-color: grey;
    height: 54px;
    font-size: 17px;
    
}
input {
    background-color: white;
    color: black;
    border-color: grey;
    border-right: none;
    height: 30px;
    padding: 10px;
    font-size: 17px;
}

img {
    height: 20px;
    margin-right: 10px;
}

#push {
    height:20px;
    border: none;
    margin-left: 10px;
    background-color:black;
}
